<h1 class="center">{{header | titleCase}}</h1>
<div class="row" ng-repeat="item in items | filter:itemInCategory">
	<item></item>
</div>
<form name="form" ng-submit="formSubmitted()">
	Name: <input name="iName" type="text" required ng-model="formItem.name" />
	Price: <input name="iPrice" ng-class="{error: (form.iPrice.$dirty && form.iPrice.$invalid)}" type="number" min="0" required ng-model="formItem.price" />
	<input type="submit" value="Submit" ng-disabled="form.$invalid" />
</form>
{{notification}}