<h1 class="center">{{header | titleCase}}</h1>
<div class="row animate-repeat" ng-repeat="item in items | filter:itemFilter">
	<div class="col-lg-8 col-md-8">
		{{item.name}}
	</div>
	<div class="right col-lg-4 col-md-4">
		{{item.price}}
		<a ng-click="addToCart(item)">Add to cart</a>
		<a ng-click="editItem(item)">Edit item</a>
		<a ng-click="removeItem(item._id)">Remove item</a>
	</div>
</div>
<form name="form" ng-submit="itemFormSubmitted()">
	Name: <input ng-model="item.name"  ng-maxlength="50" required/><br>
	Price: <input type="number" min="0" max="10" ng-model="item.price" required/>
	<input type="submit" class="button" ng-disabled="form.$invalid" value="Submit" />
</form>
