.header {
	height:80px;
	font-size:24px;
	background-color:#eee;
	padding-top:20px
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.cartcost {
	transition: 0.18s linear all;
	-webkit-transition: 0.18s linear all;
}